
.navButtons ul{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 1%;
    font-family:'Roboto',400;
}

.navButtons li{
    justify-content: center;
    width:10%;
    display:inline;
    float:right;
    height:20px;
    text-align: center;
    color:#000;
    font-weight:bold;
    letter-spacing:2px;
    text-transform: uppercase;
    transition:1s;
    text-decoration-color: green;
}
.navButtons li:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
    transition:1s;
}

.orderButton{
    height:25px;
    color:white;
    border-radius: 50px;
    background-color:rgba(210, 105, 30, 0.753);
    text-decoration:none;

}
.orderButton a{
    text-decoration:none;
    color:white;

}
.orderButton:hover{
    height:25px;
    color:white;
    border-radius: 50px;
    background-color:chocolate;
    text-decoration:none;
}

.navButtons{
    height:20vh;
    margin:0;
    background-size: cover; 
    background-position: center;
}

.navButtons img{
    width:6vw;
}

.liButtons{
    width:2.5%;
}

.orderDetails{
    font-family:'Roboto';
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.877);
    margin:0 auto;
    width:80%;
    box-shadow: -1px 2px 5px 6px rgba(207,9,9,0.19);
    -webkit-box-shadow: -1px 2px 5px 6px rgba(207,9,9,0.19);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form{
    margin:10%;
    width:70%;
    padding:2.5%;
    grid-column: 1;
    background-color:rgba(0, 0, 0, 0.03);
    border-radius:20px;
}

form
label{
    font-size:30px;
}
.noticeArea {
    display: inline-block;
    padding: 10% 10% 10% 10%;
    height: auto;
    justify-content: center;
    text-align: center;
  }
  
  .notificationText {
    font-family:'Roboto';
    padding:5%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing:1px;
    color:white;
    background-color: rgba(210, 105, 30, 0.753);
    border-radius: 30px;
    margin-bottom: 20px;
  }
  
  .noticeArea img {
    object-fit: contain;
    width: 300px;
  }
  

.orderDetails h2,
label,
input[type="text"],
input[type="tel"]{
  margin: 2.5%;
}

.orderDetails h3 {
  color: rgba(210, 105, 30, 0.753);
  text-transform: uppercase;
}

.orderDetails input[type="text"],
.orderDetails input[type="tel"] {
  height: 40px;
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 10px;
  transition: 0.5s;
  font-family: 'Roboto';
  outline: none;
  border: 0;
  padding-left: 10px; /* Adjust the padding as needed */
}

::placeholder {
  margin-left: 5%;
  padding: 10%;
  opacity: 0.5;
  font-family: 'Roboto';
}

.orderDetails input[type="text"]:focus,
.orderDetails input[type="tel"]:focus {
  height: 45px;
  border-bottom: 2px solid rgba(210, 105, 30, 0.753);
  border-radius: 10px;
  transition: 0.5s;
  outline: none;
  width: 390px;
  font-family: 'Roboto';
  background-color: antiquewhite;
  padding-left: 10px; 
  font-weight: 400;
}


.orderTable {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.orderTable table {
    width: 100%;
}
  
  .orderTable th {
    background-color: white;
    color: #000;
    font-weight: bold;
    padding: 10px;
  }
  
  .orderTable td {
    padding: 10px;
  }
  
  .orderTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03);
  }
  
  .orderTable tr:last-child {
    font-weight: bold;
    text-align: right;
  }
  
  .orderTable tr:last-child td:last-child {
    background-color: antiquewhite;
  }

  input[type="submit"]{
    font-family:'Roboto';
    padding:2.5%;
    border-radius:30px;
    color:white;
    background-color:rgba(210, 105, 30, 0.753);
    outline:none;
    border:0;
    font-size:20px;
    transition:0.5s;
    float:right;
  }
  input[type="submit"]:hover{
    font-family:'Roboto';
    padding:2.5%;
    border-radius:30px;
    color:white;
    background-color:rgba(150, 62, 0, 0.753);
    outline:none;
    border:0;
    font-size:20px;
    transition:0.5s;
    float:right;
  }