body{
    margin:0;
}
.navButtons ul{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 1%;
    font-family:'Roboto',400;
}

.navButtons li{
    justify-content: center;
    width:10%;
    display:inline;
    float:right;
    height:20px;
    text-align: center;
    color:#000;
    font-weight:bold;
    letter-spacing:2px;
    text-transform: uppercase;
    transition:1s;
    text-decoration-color: green;
}
.navButtons li:hover{
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: green;
    text-decoration-thickness: 5px;
    transition:1s;
}

.orderButton{
    height:25px;
    color:white;
    border-radius: 50px;
    background-color:rgba(210, 105, 30, 0.753);
    text-decoration:none;

}
.orderButton a{
    text-decoration:none;
    color:white;

}
.orderButton:hover{
    height:25px;
    color:white;
    border-radius: 50px;
    background-color:chocolate;
    text-decoration:none;
}

.navBar{
    height:60vh;
    margin:0;
    background: url("../bg.jpg");
    background-size: cover; 
    background-position: center;
}

.navButtons img{
    width:6vw;
}

.liButtons{
    width:2.5%;
}

.firstSection{
    margin-top:1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:50vh;
}
.carousel{
    position:relative;
    grid-column: 1;
    width:100%;
    overflow:hidden;
}
.carousel img{
    position:relative;
    grid-column: 1;
    width:100%;
    height:500px;
    object-fit:cover;
}

.carouselTextWrapper{
    padding:2.5%;
    font-size: 10px;
    background-color: chocolate;
    text-align: center;
    height:100%;
}


.bodyTextCarousel{
    font-size:20px;
    font-family:'Roboto',sans-serif;
    margin:10%;
}

.headTextCarousel{
    font-family:'Playfair Display';
    font-size:35px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.head1TextCarousel{
    margin-top:10%;
    font-family:'Playfair Display';
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}



/* Middle Text */

.welcomeUser{
    width:100%;
    justify-content:center;
    letter-spacing:3px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}
.welcomeUser h3{
    width:100%;
    justify-content:center;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.middleTextHeader{
    margin-top:150px;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    text-align: center;
}

.middleTextBody{
    
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 15px;
    font-family:'Playfair Display';
}
.secondSection {
    margin-top:1%;
    display: flex;
    justify-content: space-between;
    margin-right:10%;
    margin-left:10%;
}

.card {
    width: 800px;
    height: 300px;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.cardImgArea {
    height: 400px;
    text-align: center;
}

.cardImgArea img {
    max-width: 100%;
    height:100%;
    object-fit:cover;
}

.cardTxtArea {
    padding: 10px;
}

.headTextCard{
    font-size:25px;
    font-weight:bold;
}
